/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #050523; /* Updated color */
}

/* Header */
header {
    background: #050523; /* Updated color */
    color: #c0b9ac; /* Updated color */
    padding: 1.5rem;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

/* Navigation */
nav a {
    color: #c0b9ac; /* Updated color */
    text-decoration: none;
    margin: 0 0.5rem;
}

nav a:hover {
    color: #a31101; /* Updated color */
}

/* Hero Section */
.hero {
    background:
      linear-gradient(
      rgba(5, 5, 35, 0.5),
      rgba(5, 5, 35, 0.5)
      ),
      url('https://cdn.discordapp.com/attachments/1013219587053064202/1097288997610475650/ChristianKing_photorealistic_image_of_a_pool_with_a_focus_on_th_4be26125-081d-47d6-a4b8-14611e4f9dee.png') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #c0b9ac; /* Updated color */
    padding: 0 2rem;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    background: #a31101; /* Updated color */
    color: #c0b9ac; /* Updated color */
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #6d0901; /* Updated color */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.2rem;
    }
}

/* Sections */
section {
    padding: 2rem;
    position: relative;
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 4rem;
    padding-top: 4rem;
    height: 70%;
    word-break: break-word;
    hyphens: auto;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

section p {
    margin-bottom: 1rem;
    text-align: center;
}

/* Services */
.service {
    text-align: center;
    margin-bottom: 2rem;
}
.service h2 {
    text-align: center;
    margin-bottom: 2rem;
}

/* Styles for service images */
.service img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
    border-radius: 5px;
}

/* Hours of Operation */
#heures {
    text-align: center;
}

/* Regions */
#regions {
    text-align: center;
}

#regions ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#regions li {
    background: #a31101; /* Updated color */
    color: #c0b9ac; /* Updated color */
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* Contact */
#contact {
    text-align: center;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    background: #050523; /* Updated color */
    color: #c0b9ac; /* Updated color */
    padding: 1rem;
    text-align: center;
}
